<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Interview Quiz - Configure</title>
    <link th:href="@{/css/common/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/build.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/common/actions.js}"></script>
</head>

<body>

    <form class="page-container" th:action="@{/quiz}" method="get">

        <div class="header">
            <div>
                <img class="logo" th:src="@{/images/logo.png}" alt="IQ-logo">
            </div>

            <div class="steps">
                <div class="step">
                    <div class="circle"></div>
                    LOAD
                </div>
                <div class="step active">
                    <div class="circle"></div>
                    CONFIGURE
                </div>
                <div class="step">
                    <div class="circle"></div>
                    MASTER
                </div>
            </div>

            <div class="buttons">
                <button class="button" type="submit">Generate Quiz</button>
            </div>

        </div>
        <h1>Select Topics, Tags, and Competencies you want to master</h1>

        <div class="form-container">
            <div class="form-header">
                <input type="checkbox" id="topics-header" th:onclick="checkUncheckAll(this, 'topics')">
                <label for="topics-header">Topics</label>
            </div>

            <ul class="checkbox-tag">
                <li th:each="topic : ${topics}">
                    <input type="checkbox" th:id="${'topic-' + topic}" th:name="'topics'" th:value="${topic}">
                    <label th:for="${'topic-' + topic}" th:text="${topic}"></label>
                </li>
            </ul>
        </div>

        <div class="form-container">
            <div class="form-header">
                <input type="checkbox" id="tags-header" th:onclick="checkUncheckAll(this, 'tags')">
                <label for="tags-header">Tags</label>
            </div>

            <ul class="checkbox-tag">
                <li th:each="tag : ${tags}">
                    <input type="checkbox" th:id="${'tag-' + tag}" th:name="'tags'" th:value="${tag}">
                    <label th:for="${'tag-' + tag}" th:text="${tag}"></label>
                </li>
            </ul>
        </div>

        <div class="form-container">
            <div class="form-header">
                <input type="checkbox" id="competencies-header" th:onclick="checkUncheckAll(this, 'competencies')">
                <label for="competencies-header">Competencies</label>
            </div>

            <ul class="checkbox-tag">
                <li th:each="competency : ${competencies}">
                    <input type="checkbox" th:id="${'competency-' + competency}" th:name="'competencies'" th:value="${competency}">
                    <label th:for="${'competency-' + competency}" th:text="${competency}"></label>
                </li>
            </ul>
        </div>

        <div class="form-container">
            <span class="limit-label bold">Limit questions to</span>

            <div class="radio-inputs">
                <label class="radio" th:each="limit : ${limits}">
                    <input type="radio" th:id="${'limit-' + limit}" th:name="'limit'" th:value="${limit}"
                    th:checked="${limit == 'ALL'}">
                    <span class="name" th:for="${'limit-' + limit}" th:text="${limit}"></span>
                </label>
            </div>
        </div>

    </form>

    <div class="footer">
        &copy; 2023 Interview Quiz | by Vladyslav Tkachuk
    </div>
</form>

</body>
</html>