:root {
    --tags-header-border: var(--color-4);
    --tags-header-selected-bg: var(--light-green);
    --tags-header-selected-border: var(--green);

    --tags-bg: var(--light-gray);
    --tags-border: var(--color-4);
    --tags-selected-bg: var(--light-green);
    --tags-selected-border: var(--green);
}

.form-header {
    padding-left: 5px;
    align-items: center;
    display: flex;
}

.form-header input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.form-header label {
    position: relative;
    padding: 0 20px 0 40px;
    line-height: 2;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
}

.form-header label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid var(--tags-header-border);
    border-radius: 25px;
    z-index: -1;
}

.form-header input[type=checkbox]:checked + label {
    padding-left: 1em;
}
.form-header input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: var(--tags-header-selected-bg);
    border-color: var(--tags-header-selected-border);
}
.form-header label,
.form-header label::before {
    transition: 0.25s all ease;
}

.input-search {
    padding: 10px 20px;
    display: inline-block;
    position: relative;
}

.input-search > input {
    font-size: 18px;
    color: black;
    border-style: none;
    border-bottom: 1px solid rgba(77, 97, 113, .8);
    outline: none;
    background-color: transparent;
    width: 100px;
    height: 15px;
    padding: 5px;
    transition: all .5s ease-in-out;
    position: relative;
}

.input-search > input::placeholder {
    color: rgba(0, 0, 0, .8);
}

.input-search > input:focus,
.input-search > input:not(:placeholder-shown) {
    width: 200px;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.clear-search-button {
    font-size: 18px;
    position: absolute; 
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 5px;
}

.clear-search-button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: calc(100% + 2px);
    height: 1px;
    background-color: rgba(77, 97, 113, .8);
}

.input-search > input:focus + .clear-search-button,
.input-search > input:not(:placeholder-shown) + .clear-search-button {
    opacity: 1;
}

ul.checkbox-tag {
    list-style: none;
    padding: 5px;
    margin: 10px 0 auto;
}
ul.checkbox-tag li{
    display: inline;
}
.checkbox-tag label{
    display: inline-block;
    background-color: var(--tags-bg);
    border: 1px solid var(--tags-border);
    color: black;
    border-radius: 25px;
    margin: 3px 2px;
}
.checkbox-tag label {
    padding: 8px 12px;
    cursor: pointer;
}
.checkbox-tag label::before {
    display: inline-block;
    text-rendering: auto;
    padding: 2px 6px 2px 2px;
}
.checkbox-tag input[type="checkbox"]:checked + label {
    border: 1px solid var(--tags-selected-border);
    background-color: var(--tags-selected-bg);
    color: black;
    transition: all .2s;
}
.checkbox-tag input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.radio-inputs {
    margin: 15px 5px 5px;
    display: flex;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 0 0px 2px rgba(70, 109, 127, 0.3);
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .4rem 0;
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: var(--tags-selected-bg);
    font-weight: bold;
}

.statistics {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    margin: 50px 25px;   
    padding: 5px;
    background: var(--color-4);
    border-radius: 6px;
    overflow: hidden;               /* ???? */
    z-index: 10;                    /* ???? */
    backdrop-filter: blur(15px);    /* ???? */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-out;
}
.statistics.expanded {
    width: 200px;
    height: 100px;
}