:root {
    --tags-header-border: var(--color-4);
    --tags-header-selected-bg: var(--light-green);
    --tags-header-selected-border: var(--green);

    --tags-bg: var(--light-gray);
    --tags-border: var(--color-4);
    --tags-selected-bg: var(--light-green);
    --tags-selected-border: var(--green);
}

.form-header {
    padding-left: 5px;
}

.form-header input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.form-header label {
    position: relative;
    padding-left: 40px;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 20px;
    display: inline-flex;
}

.form-header label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid var(--tags-header-border);
    border-radius: 25px;
    z-index: -1;
}

.form-header input[type=checkbox]:checked + label {
    padding-left: 1em;
}
.form-header input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: var(--tags-header-selected-bg);
    border-color: var(--tags-header-selected-border);
}
.form-header label,
.form-header label::before {
    transition: 0.25s all ease;
}

ul.checkbox-tag {
    list-style: none;
    padding: 5px;
    margin: 0 auto;
}
ul.checkbox-tag li{
    display: inline;
}
.checkbox-tag label{
    display: inline-block;
    background-color: var(--tags-bg);
    border: 1px solid var(--tags-border);
    color: black;
    border-radius: 25px;
    margin: 3px 0px;
}
.checkbox-tag label {
    padding: 8px 12px;
    cursor: pointer;
}
.checkbox-tag label::before {
    display: inline-block;
    text-rendering: auto;
    padding: 2px 6px 2px 2px;
}
.checkbox-tag input[type="checkbox"]:checked + label {
    border: 1px solid var(--tags-selected-border);
    background-color: var(--tags-selected-bg);
    color: black;
    transition: all .2s;
}
.checkbox-tag input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.radio-inputs {
    margin: 15px 5px 5px;
    display: flex;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 0 0px 2px rgba(70, 109, 127, 0.3);
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .4rem 0;
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: var(--tags-selected-bg);
    font-weight: bold;
}

.limit-label {
    font-size: 20px;
    padding-left: 5px;
}