.question-number-container {
    background-color: lightpink;
    padding: 5px;
    font-size: 17px;
}

.question-details-container {
    display: flex;
}

.question-column {
    flex: 1;
    display: flex;
    background-color: lightblue;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
}

.details-column {
    flex: 1;
    display: flex;
    background-color: lightgreen;
    padding-left: 10px;
    justify-content: center;
    flex-direction: column;
}

.options-container {
    padding: 5px;
    background-color: lightgrey;
}

.answer-container {
    padding: 5px;
    align-items: center;
    background-color: lightyellow;
}

.checkmark::before {
    content: "\2713"; /* Unicode for checkmark */
    color: green;
    margin-right: 3px;
}

.cross::before {
    content: "\2717"; /* Unicode for cross */
    color: red;
    margin-right: 3px;
}
